// @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;800&display=swap');

$font-url: "../../assets/fonts/";

@font-face {
  font-family: 'm plus rounded 1c';
  src: url($font-url + 'MPLUSRounded1c-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'm plus rounded 1c';
  src: url($font-url + 'MPLUSRounded1c-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'm plus rounded 1c';
  src: url($font-url + 'MPLUSRounded1c-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'm plus rounded 1c';
  src: url($font-url + 'MPLUSRounded1c-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'm plus rounded 1c';
  src: url($font-url + 'MPLUSRounded1c-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'm plus rounded 1c';
  src: url($font-url + 'MPLUSRounded1c-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'm plus rounded 1c';
  src: url($font-url + 'MPLUSRounded1c-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}