* {
  transition: color ease .1s, background-color ease .2s;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-body);
  color: var(--color-text);
  font-family: $base-ff, sans-serif;
}

a {
  text-decoration: none;
}

p, ul {
  line-height: 160%;
  a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;
  }
}