// ----- layout
.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 $standard-padding;
}
.main {
  padding: 30px 0 60px;
  margin-top: 60px;
  @media screen and (min-width: $mobile-breakpoint) {
    margin-top: 75px;
  }
}
.page-section {
  margin-top: 40px;
}
.subsection {
  margin-top: 30px;
}
.grid-2 {
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  @media screen and (min-width: $mobile-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.grid-3 {
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  @media screen and (min-width: $mobile-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: $tablet-breakpoint) {
    grid-template-columns: repeat(3, 1fr);
  }
}

// ----- Typography
.page-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 0;
  line-height: 130%;
  @media screen and (min-width: $mobile-breakpoint) {
    font-size: 3rem;
  }
}
.page-subtitle {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  font-size: 1rem;
  letter-spacing: .1rem;
  color: var(--color-subtitles);
}
.secondary-heading {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 140%;
  margin: 0;
}
.item-heading {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
}
.regular-text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
}
.small-text {
  font-size: 1rem;
  font-weight: 400;
}
.exercise-word {
  font-size: 3rem;
  font-weight: 300;
}
.flex-heading {
  display: flex;
  align-items: center;
  &--icon {
    color: var(--color-primary-alt);
    display: inline-block;
    margin-right: 25px;
    font-size: 2em;
    @media screen and (min-width: $mobile-breakpoint) {
      font-size: 1.5em;
  }
  }
}

// ----- Other
.logo {
  width: 50px;
  height: 35px;
  background: var(--logo-img-path) no-repeat center;
  background-size: contain;
  width: 200px;
  margin-bottom: 10px;
}